div {
    float: left;
    width: 100px;
    height: 100px;
    border-style: solid;
    padding: 1px;
}
.first {
    clear: left;
}
.black {
    background: black;
}
.white {
    background: white;
}